{% extends "main/base.html" %}
{% load static %}

{% block head%}
<link rel=stylesheet href="{% static 'main/css/advices.css' %}">
{% endblock %}

{%block center%}
<div class="lit-title">
    <h1> Советы </h1>
</div>
{%endblock%}

{% block contentInner %}
<div class="lit-description">
    <div class="advice">
        <h2>Просить</h2>
        <p>1. Просите позитивно: человек в силу своей занятости скорее отреагирует на уверенный тон, чем на жалобный. Так вы покажете, что знаете, о чем говорите, и просите о помощи с холодным рассудком, а не руководствуетесь эмоциями</p>
        <p>2. Будьте четкими в изложении мысли: чем яснее вы опишите суть вопроса, тем эффективнее будет решение. Расскажите, какие варианты вы уже рассматривали и почему они не сработали. Предложите еще несколько путей решения проблемы и чего для их реализации вам не хватает. Так вы дадите понять, что цените время своего «спасителя», а не задаете вопрос ради вопроса.</p>
        <p>3. Определитесь, какая именно помощь необходима: вы должны четко понимать, что поможет решить вопрос. Может быть, вам будет достаточно мнения со стороны, или вам нужен наставник, который продет с вами весь путь от начала до конца.</p>
        <p>4. Будьте благодарны: даже самому бескорыстному человеку будет приятно получить благодарность в ответ на оказанную помощь. Не всегда речь идет о материальном поощрении, и элементарное «Спасибо!» и несколько приятных слов могут сделать свое дело.</p>
        <p>5. Расскажите о результатах: знать, что твоя помощь помогла достичь желаемого, вдвойне приятно. Расскажите, чем закончилась история, поделитесь инсайтами </p>
    </div>
    <div class="advice">
        <h2>Отказывать</h2>
        <p>1. Определитесь с тем, от чего вы готовы отказаться. Напишите список дел, людей или событий, которым вы искренне хотите посвятить свое время.</p>
        <p>2. Будьте благодарны. Обязательно поблагодарите человека, который к вам обратился за помощью.</p>
        <p>3. Говорите «нет» просьбе, а не человеку. Постарайтесь дать вежливый и доброжелательный ответ, можете похвалить человека или его работу, но все же будьте тверды в своем отказе.</p>
        <p>4. Объясните причину. Честно скажите человеку, почему вы так поступаете.</p>
        <p>5. Будьте непреклонны даже с очень настойчивыми людьми.</p>
    </div>
    <div class="advice">
        <h2>Конфликтовать</h2>
        <p>1. Конфликт без насилия. Необходимо осознать, когда мы сами проявляем насилие: презираем другого, лишаем его значимости, пытаемся взять над ним верх, отрицаем его существование или его страдания.</p>
        <p>2. Стремление к цели. Нужно «мотивировать» противоположную сторону, показав ей смысл вашего разногласия. </p>
        <p>3. Уважение к противнику. Чтобы разрешить ситуацию конструктивно, нужно создать обстановку доверия, в которой другой почувствует возможность без страха говорить то, что думает.</p>

    </div>
    <div class="advice">
        <h2>Выражать мнение</h2>
        <p>1. Выражайте мысли чётко и ясно. Для этого можно использовать практику бесед, чтение книг, ведение дневника, специальные тренинги.</p>
        <p>2. Старайтесь чаще анализировать ситуации, вести с собой внутренний диалог, мысленно аргументировать личное мнение воображаемым оппонентам.</p>
        <p>3. Потренируйтесь делать это с теми, кого вы боитесь меньше всего — младшими родственниками, друзьями.</p>
        <p>4.  Всегда ведите себя с окружающими спокойно и выдержано.</p>
    </div>
    <div class="advice">
        <h2>Хвалить</h2>
        <p>1. Не хвалите за всё подряд. Похвала должна быть за реальные старания или результат.</p>
        <p>2. Важно показать, что вы искренни и готовы разделить с человеком его радость.</p>
        <p>3. Не сравнивайте.</p>
        <p>4. не совмещайте в одной фразе похвалу и критику.</p>
    </div>
    <div class="advice">
        <h2>Критиковать</h2>
        <p>1. Не критикуйте, а давайте обратную связь. Начинайте оценку с положительных замечаний.</p>
        <p>2. Не давайте воли негативным эмоциям. Приступайте к критике только в спокойном состоянии.</p>
        <p>3. Старайтесь быть доброжелательными. Улыбайтесь, говорите спокойным ровным голосом.</p>
        <p>4. Избегайте обвинительного тона. Замените фразу «Вы сделали неправильно» словами «Я думаю, надо было сделать по-другому».</p>
    </div>
</div>
{%endblock%}