{% load static %}


<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simplesafe</title>
  
  <link rel=stylesheet href="{% static 'main/css/base.css' %}">
  {% block head %}{% endblock %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
  <link rel="icon" href={% static 'main/images/favicon.ico' %} type="image/x-icon">
</head>
<body>
  <div class="header">
    <h1><a href="{% url 'index' %}">Simplesafe</a></h1>
  </div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li><a href="{% url 'testpage' %}">Тест</a></li>
      <li><a href="{% url 'advices' %}">Советы</a></li>
      <li><a href="{% url 'materials' %}">Литература</a></li>
    </ul>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
      $(document).ready(function(){
          $('#sidebarMenu .sidebarMenuInner li').click(function(){
              window.location = $(this).find('a').attr('href');
          });
      });
  </script>
  <div id='center' class="main center">
    {% block center %}{% endblock %}
    <div class="mainInner">
      {% block contentInner %}{% endblock %}
    </div>
    {% block contentOuter %}{% endblock %}

  <div class="menu-icon" id="menuIcon">
    <div class="menu-icon" id="menuIcon">
      <img src="{% static 'main/images/dino.png' %}" alt="Иконка меню">
  </div>
</div>

<div class="menu hidden" id="menu">
    <ul>
      <li><a href="{% url 'testpage' %}">ТЕСТ</a></li>
      <li><a href="{% url 'advices' %}">СОВЕТЫ</a></li>
      <li><a href="{% url 'materials' %}">ЛИТЕРАТУРА</a></li>
  </ul>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
      $(document).ready(function(){
          $('#menu li').click(function(){
              window.location = $(this).find('a').attr('href');
          });
      });
  </script>

</div>

<script src="{% static 'main/js/script1.js' %}"></script>

</body>
</html>
