{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/testpage.css' %}">
{% endblock %}

{% block center %}
<div class="test-title">
  <h1> Психологический тест </h1>
</div>
{% endblock %}


{% block contentInner %}
<div class="advices">
  <div class="tile">
    <h2>Личность</h2>
    <p>Будьте сами собой и отвечайте честно, чтобы выяснить свой тип личности.</p>
  </div>
  <div class="tile">
    <h2>Влияние</h2>
    <p>Узнайте, как ваш тип личности влияет на многие сферы вашей жизни.</p>
  </div>
  <div class="tile">
    <h2>Материалы</h2>
    <p>Станьте тем человеком, которым хотите быть, с помощью наших дополнительных материалов премиум класса.</p>
  </div>
</div>

<form id="quizForm" method="post" onsubmit="return validateForm()">
  {% csrf_token %}
  <div class="quiz-container">
    {% comment %} <p>{{all_questions}}</p> {% endcomment %}
    {%for key in all_questions.keys%}
    <div class="quiz-title">
      <h2>{{key}}</h2>
    </div>
    
    {% for question in all_questions|get_item:key %}
    {% for innerkey in question.keys %}
    <div class="question">
      <h3>{{innerkey}}</h3>
      {% for answer in question|get_item:innerkey %}
      <div class="answer-option">
        <input type="radio" id={{answer.id}} name="{{innerkey.type}}question{{innerkey.id}}" value={{answer.id}}>
        <label for={{answer.id}}>{{answer.choice_text}}</label>
      </div>
      {%endfor%}
    </div>
    {% endfor%}
    {% endfor%}
    <hr>
    {% endfor %}
    <button type="submit" id="submitBtn">Отправить</button>
    <br/>
  </div>
</form>
<script src="{% static 'main/js/validation.js' %}"></script>
{% endblock %}
