{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/testpage.css' %}">
{% endblock %}

{% block center %}
<div class="test-title">
  <h1> Психологический тест </h1>
</div>
{% endblock %}


{% block contentInner %}
<div class="advices">
  <div class="tile">
    <h2>Личность</h2>
    <p>Будьте сами собой и отвечайте честно, чтобы выяснить свой тип личности.</p>
  </div>
  <div class="tile">
    <h2>Влияние</h2>
    <p>Узнайте, как ваш тип личности влияет на многие сферы вашей жизни.</p>
  </div>
  <div class="tile">
    <h2>Материалы</h2>
    <p>Станьте тем человеком, которым хотите быть, с помощью наших дополнительных материалов премиум класса.</p>
  </div>
</div>

<form method="post">
  {% csrf_token %}
  <div class="quiz-container">
    <div class="quiz-title">
      <h2>Просить</h2>
    </div>
    <div class="question">
      <h3>Просить, в твоем понимании - это обращаться за помощью…</h3>
      <div class="answer-option">
        <input type="radio" id="answer1" name="question1" value="pop">
        <label for="answer1">если не справился сам(думаю, что слабый)</label>
      </div>
      <div class="answer-option">
        <input type="radio" id="answer2" name="question1" value="rock">
        <label for="answer2">по любому поводу, зачем делать что-то самому</label>
      </div>
      <div class="answer-option">
        <input type="radio" id="answer3" name="question1" value="jazz">
        <label for="answer3">если не справился сам(это нормально, никто не идеален)</label>
      </div>
    </div>
    <hr>
    <button type="submit" id="submitBtn">Отправить</button>
    <br/>
  </div>
</form>

{% endblock %}
