.materials-description {
    color: #474A51;
    position: relative;
    top: 50px;
    text-align: left;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.materials-description h3 {
    margin-left: 10%;
}

.materials-description a {
    color: #527CF8; /* Цвет текста ссылки */
    text-decoration: none; /* Убираем подчеркивание */
}

.materials-description a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

.mat-title {
    margin-top: 100px;
}

.mat-title h1 {
    text-align: center;
    color: #474A51;
}