.test-block {
    color: #474A51;
    position: relative;
    top: 50px;
    text-align: center;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.advices {
    display: flex;
    flex-wrap: wrap; /* Разрешить плиткам переноситься на новую строку, если они не помещаются в одну строку */
    justify-content: center; /* Центрировать плитки на больших экранах */
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 0;
}

.tile {
    margin: 10px; /* Добавить небольшие отступы между плитками */
    color: white;
    background-color: #B7A1FB;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    min-width: 100px; /* Минимальная ширина плитки */
    max-width: 300px;
}

@media only screen and (max-width: 768px) {
    .advices {
        flex-direction: column; /* Стек плиток вертикально на маленьких экранах */
        align-items: center; /* Центрировать плитки по горизонтали на маленьких экранах */
    }
}

.tile h2 {
    margin-top: 0;
    font-size: 20px; /* Уменьшить размер заголовка для лучшего отображения на маленьких экранах */
}

.tile p {
    margin-bottom: 0;
    font-size: 16px; /* Уменьшить размер текста для лучшего отображения на маленьких экранах */
}



.tile:last-child {
    margin-right: 0; /* Убрать правый отступ для последней плитки */
}


.test-title {
    margin-top: 100px;
}

.test-title h1 {
    text-align: center;
    color: #474A51;
}


.quiz-container {
    color: #474A51;
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .quiz-title {
    margin-bottom: 20px;
    text-align: left;
  }
  
  #submitBtn {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 20%;
    height: 70px;
    background-color: #B7A1FB;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
  #submitBtn {
      width: 50%; 
  }
}

#submitBtn:hover {
    background-color: #7899D4;
}

form {
  text-align: center; 
  margin-top: 50px;
}

.question {
  margin-bottom: 20px;
}

.question h3 {
  margin-top: 0;
}

.answer-option {
  margin-bottom: 10px;
}

.answer-option input[type="radio"] {
  display: none; /* Скрыть стандартный радио-инпут */
}

.answer-option label {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  /* border: 2px solid #B7A1FB; */
  border: 2px solid #ccc;
  border-radius: 8px;
  color: #474A51;
}

.answer-option label:hover {
  background-color: #eeeeee;
  /* color: white; */
}

.answer-option input[type="radio"]:checked + label {
  background-color: #A1B8FB;
  color: white;
}

